<div class="home-page">
    <div class="container">
        <img class="spinner" src="../app/images/spinner.gif" data-ng-show="ctrl.loading" alt="Spinner" />
        <div ng-show="ctrl.error" class="error">
            <p>Sorry but there has been an error with loading content. Please try again soon.</p>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p class="search">Search: <input ng-model="query"></p>
            </div>
        </div>
        <div class="user-posts" data-ng-repeat="user in ctrl.posts | limitTo:ctrl.limit | filter:query">
            <div class="row">
                <div class="col-xs-3 post-image">
                        <a ng-href="#/{{($index)}}"><img ng-src="{{user.media.m}}" alt="Post Photo"></a>
                </div>
                <div class="col-xs-9 post-details">
                        <h3 class="post-title"><a ng-href="#/{{($index)}}">{{user.title | truncate}}</a></h3>
                        <hr>
                        <p class="post-author"><a ng-href="https://www.flickr.com/photos/{{user.author_id}}">{{user.author | regex}}</a></p>
                        <p class="post-date">Published: {{user.published | date:'d MMM yyyy'}} at {{user.published | date:'h:mm'}}</p>
                        <p class="flickr-link"><a ng-href="{{user.link}}">view on flickr</a></p>
                </div>
            </div>
        </div>

        <p class="load-posts" ng-if="ctrl.morePosts" ng-click="ctrl.loadMore()">LOAD MORE</p>
    </div>
</div>






